main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}

main #logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 90px;
    top: 90px;
}

main img {
    width: 350px;
}

main #logo_sentence {
    font-size: 25px;
    color: #4E5166;
    font-weight: bold;
    width: 410px;
}

#signUp_signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid transparent;
    box-shadow: black 0px 1px 5px 0px;
    border-radius: 10px;
    padding: 15px;
    background-color: #FFD7D7;
    width: 30%;
}

#signUp_signIn #signUp_signIn_or {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}

#signUp_signIn #signUp_signIn_or p {
    margin: 0px;
    font-size: 12px;
}

#signUp_signIn #signUp_signIn_or p a {
    font-weight: bold;
    color: #FD2D01;
}

#signUp_signIn #signIn {
    display: flex;
    flex-direction: column;
}

#signUp_signIn #signIn form {
    display: flex;
    flex-direction: column;
}

#signUp_signIn #signIn #signIn_successSignUp {
    font-size: 14px;
    font-weight: bold;
    color: #4BB543;
    text-align: center;
}

#signUp_signIn #signIn #signIn_title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4E5166;
    font-weight: bold;
    text-align: center;
}

#signUp_signIn #signIn input {
    padding: 5px;
}


#signUp_signIn #signIn .signIn_errorPassword {
    margin-top: -15px;
    font-size: 12px;
    margin-left: 2px;
    color: #FD2D01;
}

#signUp_signIn #signIn #signIn_button {
    display: flex;
    justify-content: center;
    border: solid transparent;
    border-radius: 10px;
    box-shadow: black 0px 1px 5px 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: #4E5166;
    color: white;
}

#signUp_signIn #signIn #signIn_button:hover {
    cursor: pointer;
}

body {
    height: 0;
}

#background_photo {
    width: 100%;
    height: 100%;
}

#background_photo img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.1;
    object-fit: cover;
}

@media screen and (max-width: 830px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-right: 0px;
    }

    main #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: initial;
    }

    main #logo img {
        width: 70%;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    main #logo #logo_sentence {
        font-size: 20px;
        width: 70%;
        text-align: center;
        margin-bottom: 30px;
    }

    main #signUp_signIn {
        width: 70%;
    }
}