#signUp_signIn #signUp {
    display: flex;
    flex-direction: column;
}

#signUp_signIn #signUp #signUp_title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4E5166;
    font-weight: bold;
    text-align: center;
}

#signUp_signIn #signUp form {
    display: flex;
    flex-direction: column;
}

#signUp_signIn #signUp form input {
    padding: 5px;
    margin: -7px;
}

#signUp_signIn #signUp form #signUp_errorName {
    margin-top: -10px;
    font-size: 12px;
    margin-left: -5px;
    color: #FD2D01;
}

#signUp_signIn #signUp form #signUp_errorFirstName {
    margin-top: -10px;
    font-size: 12px;
    margin-left: -5px;
    color: #FD2D01;
}

#signUp_signIn #signUp form #signUp_errorMail {
    margin-top: -10px;
    font-size: 12px;
    margin-left: -5px;
    color: #FD2D01;
}

#signUp_signIn #signUp form #signUp_errorPassword {
    margin-top: -10px;
    font-size: 12px;
    margin-left: -5px;
    color: #FD2D01;
}

#signUp_signIn #signUp form #signUp_button {
    display: flex;
    justify-content: center;
    border: solid transparent;
    border-radius: 10px;
    box-shadow: black 0px 1px 5px 0px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: #4E5166;
    color: white;
    margin-top: 5px;
}

#signUp_signIn #signUp form #signUp_button:hover {
    cursor: pointer;
}

body {
    height: 0;
}

#background_photo {
    width: 100%;
    height: 100%;
}

#background_photo img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.1;
    object-fit: cover;
}